@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(73.23deg, #F6F6F8 0%, #FBFBFB 100%);
    
}

.banner-text {
    height: 100%;
    width: 50%;
    padding-left: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.trendingblog {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.trendingblog-text {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #FF5300;

}

.line {
    height: 2px;
    width: 30px;
    background: #FF5300;
    margin-right: 10px;
}

.heading {
    width:80%;
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.desc{
    width:75%;
    color: #666768;
    line-height: 1.8;
    margin-bottom: 45px;
}

.explore-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 45px;
    width: 130px;
    color: white;
    background: #FF5300;
    border: none;
    border-radius: 3px;

}